@import '~antd/dist/antd.less';
@import './SpotifyUser.less';
@import './Home.less';

.emoji {
  margin-left: 3px;
  margin-right: 7px;
}

.container {
  width: 100%;
  padding: 10px;
}

.youtube-iframe {
  width: 100%;
  height: calc(100vw / 16 * 9);
}
